<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>

    <link rel="stylesheet" href="./../../css/normalize.css">

    <link rel="stylesheet" href="./../../css/style.css">

    <link rel="stylesheet" href="./../../css/templates/header.css">

    <script src="https://kit.fontawesome.com/f9397e162d.js" crossorigin="anonymous"></script>

    <script src="./../../js/template/navigation" defer></script>

</head>

<body>

    <header>
        <div class="logo">
            <a href="./../delivery_request_seeker/delivery_inprogress_rider.html">
                <img src="./../../img/Favio.png" alt="Favio"></a>
        </div>

        <nav class="menu-main">
            <ul>
                <li>
                    <a href="./../delivery_request_seeker/delivery_inprogress_rider.html">
                        <span class="visually-hidden-text">Home</span>
                    </a>
                </li>

                <li>
                    <a href="./../history/history.html">
                        <span class="visually-hidden-text">History</span>
                    </a>
                </li>

                <li>
                    <a href="../about_us/about_us.html">
                        <span class="visually-hidden-text">About Us</span>
                    </a>
                </li>

                <li>
                    <a href="../settings/settings.html">
                        <span class="visually-hidden-text">Settings</span>
                    </a>
                </li>

                <button class="hamburger visually-hidden-hamburger">
                    <span class="fas fa-bars"></span>
                </button>
            </ul>
        </nav>
    </header>

    <nav class="menu-mobile">
        <ul>
            <li><a href="./../delivery_request_seeker/delivery_inprogress_rider.html">Home</a></li>
            <li><a href="./../history/history.html">History</a></li>
            <li><a href="../about_us/about_us.html">About Us</a></li>
            <li><a href="">Settings</a></li>
        </ul>
    </nav>

    <h1>H1 Hello</h1>
    <h2>H2 Hello</h2>
    <h3>Hello</h3>

    <!-- <div class="form-courier-options">
        <input type="radio" id="radioBikes or Scooters" name="courier-option-radio"
            value="Bikes or Scooters">

            <label for="radioBikes or Scooters">Bikes or Scooters</label>

        <div class="courier-icon"><img src="./../../img/bike.svg" alt="Bikes or Scooters-img"></div>

        <div class="form-option">
            <div class="courier-info">
                <p>0kg - 5kg <br> 40 X 40 X 40 Centimeters</p>
                <p>Cheapest and most sustainable delivery option: earn points every time you use sustainable delivery.
                </p>
            </div>
        </div>
    </div>


    <div class="form-courier-options">
        <input type="radio" id="radioBikes or Scooters" name="courier-option-radio"
        value="Bikes or Scooters" required checked="checked" />
        <label for="radioBikes">

            <div class="courier-icon">
                <img src="./../../img/bike.svg" alt="Bikes or Scooters-img">
            </div>

            <div class="courier-info">
                <div class="courier-name">
                    <h5>Bikes or Scooters</h5>
                </div>
                <div class="courier-details">
                    <h6>
                        0kg - 5kg
                    </h6>
                    <h6>
                        40 X 40 X 40 Centimeters
                    </h6>
                    <h6>
                        Cheapest and most sustainable delivery option: earn points every time you use sustainable delivery.
                    </h6>
                </div>
            </div>

        </label>

    </div> -->


<div class="datetimepicker">
	<input type="date" id="date" value="2018-07-03">
	<span></span>
	<input type="time" id="time" value="08:00">
</div>


</body>

</html>