<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="manifest" href="../../app.webmanifest">

    <link rel="stylesheet" href="./../../css/normalize.css">

    <link rel="stylesheet" href="./../../css/style.css">

    <link rel="stylesheet" href="./../../css/templates/progress.css">

    <script src="https://kit.fontawesome.com/f9397e162d.js" crossorigin="anonymous"></script>


</head>
<body>


    
    <div class="myCheck">
        <h5>You have chosen so far</h5>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" class="mdl-checkbox__input" />
          <span class="mdl-checkbox__label">Marriage Hall</span>
        </label>
      
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" class="mdl-checkbox__input" />
          <span class="mdl-checkbox__label">Caterer</span>
        </label>
      
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" class="mdl-checkbox__input" />
          <span class="mdl-checkbox__label">Decorator</span>
        </label>
      </div>
      
      

</body>
</html>