.favio_supportMain{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
}

.favio_supportItems{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:1rem;
    border-bottom: 1px solid black;
}

.favio_supportDiv{
    width:50vw;
}

.button {
    background-color: #F5BF20;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:50vw;
  }

  div span{
    border: 1px solid black;
    padding:1rem 4rem 1rem 4rem;
  }