.favio_AboutUsArrow {
  margin: 1rem 0 0 4%;
}

.favio_supportMain{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap:3rem;
    margin: 3rem 2% 3rem 2%;
}

.favio_supportItems{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:1rem;
    border-bottom: 1px solid black;
    width:auto;
}

.favio_supportItems div {
  margin: 2rem 0 2rem 0;
}

.favio_supportItems h3 + p {
  margin: 0;
}

.favio_supportItems div > span {
  border-radius: var(--border-radius);
}
.favio_supportDiv{
   /* max-width:50vw; */
}

.button {
    background-color: #F5BF20;
    color: black;
    padding: 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    min-width: 50%;
    max-width:480px;
  }

  .favio_supportItems span{
    border: 1px solid black;
    padding:1rem 4rem 1rem 4rem;
  }

  @media only screen and (max-width: 600px) {
    .favio_supportItems div p{
        display: none;
        
    }
    h3 {
      font-size: var(--typography-size-hero);
    }
  }