/* =================== Switch =========== */

.availability-switch-position {
	position: fixed;
	top: 100px;
	right: 2rem;
	z-index: 2;

	display: flex;
	align-items: center;
	gap: 2rem;

	background-color: var(--color-contrast-white);
	padding: 1rem;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.739);

}

.availability-switch-position p {
	margin: 0;
}

.availabilitySwitch {
	position: relative;
	width: 60px;
	height: 34px;
}

.availabilitySwitch input[type=checkbox] {
	position: absolute;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter: alpha(opacity=0);
}

.availabilitySwitch label,
.availabilitySwitch label span {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition-duration: .2s;
}

.availabilitySwitch label {
	border-radius: 20px;
	background-color: #ddd;
}

.availabilitySwitch label:before,
.availabilitySwitch label:after {
	position: absolute;
	top: 0;
	width: 34px;
	line-height: 34px;
	color: #fff;
	text-align: center;
}

.availabilitySwitch label span {
	z-index: 1;
	width: 28px;
	height: 28px;
	margin: 3px;
	border-radius: 50%;
	background-color: #fff;
}

.availabilitySwitch label:before {
	left: 0;
	font-size: 11px;
	content: 'ON';
}

.availabilitySwitch label:after {
	right: 0;
	font-size: 10px;
	content: 'OFF';
}

.availabilitySwitch input:checked+label {
	background-color: var(--color-primary);
}

.availabilitySwitch input:checked+label span {
	transform: translateX(26px);
}


/* ============= Cards ============= */

.request-div {
	padding: .5rem 2rem;
	border: 1px solid var(--color-contrast-grey);
	border-radius: var(--border-radius);

	display: grid;
	gap: 1rem;

}

.request-div p {
	margin: .5rem;
}

.request-div-left{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.request-div-center {
	border-bottom: 1px solid black;
}

.request-div-right{
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	justify-content: end;
	align-items: center;

}

.request-fee {
	order: 1;
}

.request-button {
	order: 2;
	width: 100px;
	font-size: var(--typography-size-button);
	padding: 0;
	border: none;
	background-color: var(--color-secondary);
	height: 30px;
	border-radius: 25px;

}


.change-request {
	padding: 0;
}

.change-request {
	display: flex;
	gap: 1rem;
}

.change-request li {
	text-decoration: none;
	list-style: none;
}

a:active {
	border-bottom: 4px solid var(--color-contrast-dark);
}

.page {
	display: grid;
	gap: 1rem;
}

.request-div:hover {
	box-shadow: 0px 0px 0px 2px var(--color-contrast-dark);
}

input[type=text]:focus {
	color: bisque;
	background-color: bisque;
}


/* ============= Dialog ============= */
#modal {
	border-radius: var(--border-radius);
	max-width: 560px;
}

.dialogContent {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.dialog-head {
	font-size: var(--typography-size-title);
	font-weight: bold;
	flex-basis: 100%;
	text-align: center;
}

.dialog-img,
.dialog-title,
.dialog-detail {
	flex-basis: 100%;
}

.dialog-title {
	font-size: var(--typography-size-body);
	font-weight: bold;
	margin-bottom: 0;
}

.dialog-date,
.dialog-time {
	font-size: var(--typography-size-subtitle);
	font-weight: bold;
}

.dialog-distance {
	background: var(--color-contrast-grey);
	color: var(--color-contrast-white);
	border-radius: var(--border-radius);
	padding: .5rem 1rem;
}

.dialog-price {
	font-size: var(--typography-size-subtitle);
	font-weight: bold;
}


/* BUTTON============= */
button.dialogConfirm {
	border-radius: var(--border-radius);
  font-weight: bold;
  padding: 1rem;
	margin-bottom: 1rem;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-contrast-dark);
	width: calc(50% - .5rem);
}

button.dialogOpen {
	border-radius: var(--border-radius);
  font-weight: bold;
  padding: 1rem;
	margin-bottom: 1rem;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-contrast-dark);
	width: calc(50% - .5rem);
}

button.dialogClose {
	border-radius: var(--border-radius);
  font-weight: bold;
  padding: 1rem;
	margin-bottom: 1rem;
  background-color: var(--color-contrast-white);
  border: 1px solid var(--color-secondary);
  color: var(--color-contrast-dark);
	width: calc(50% - .5rem);
}

button.dialogOpen + button.dialogClose {
	margin-left: 1rem;
}

button.dialogConfirm + button.dialogClose {
	margin-left: 1rem;
}

.profile-pic{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.active-link{
    border-bottom: 2px solid black; 
}





