
.form-destination div input {
    width: 100%;
    padding: 1rem;
    border: none;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    margin-bottom: .5rem;
}

.form-destination .form-destination-search {
    margin: 0 1rem;
}

.form-destination-search:nth-child(1) {
    border-bottom: 1px solid #c4c4c4;
}

.form-destination>div {
    margin-top: 1rem;
    background-color: white;
    border: 1px solid var(--color-contrast-light);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: .2rem;
}


/* ========== Button ========== */
.submit {
    /* margin-top: 1rem; */
    border-radius: var(--border-radius);
    font-weight: bold;
    padding: 1rem;
    background-color: var(--color-contrast-dark);
    border: none;
    color: white;
    width: 100%;
}

.button-confirmation {
    padding: 2rem;
    background-color: white;
    border-top: 1px solid #c4c4c4;
}


/* SNAP PHOTO ========================= */
#modal {
    border-radius: var(--border-radius);
}

.photo2 {
    display: flex;
    flex-flow: column-reverse;
    gap: .5rem;
}

#snap {
    border-radius: var(--border-radius);
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-contrast-dark);
    width: 50%;
    border-radius: var(--border-radius);
    text-align: center;
    display: block;
    margin: auto;
}

#snap:hover {
    cursor: pointer;
}
 
#completedImage {
    max-width: 50%;
}


/* ================================ */
