
.form-destination div input {
    width: 100%;
    padding: 1rem;
    border: none;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    margin-bottom: .5rem;
}

.form-destination .form-destination-search {
    margin: 0 1rem;
}

.form-destination-search:nth-child(1) {
    border-bottom: 1px solid #c4c4c4;
}

.form-destination>div {
    margin-top: 1rem;
    background-color: white;
    border: 1px solid var(--color-contrast-light);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: .2rem;
}


/* ========== Button ========== */
.submit {
    /* margin-top: 1rem; */
    border-radius: var(--border-radius);
    font-weight: bold;
    padding: 1rem;
    background-color: var(--color-contrast-dark);
    border: none;
    color: white;
    width: 100%;
}

.button-confirmation {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: white;
    border-top: 1px solid #c4c4c4;
}



/* ================================ */


/* ============= Dialog ============= */
#modal {
    border-radius: var(--border-radius);
    padding-right: 4%;
    padding-left: 4%;
}

.dialogContent {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.dialogContent .dialog-head {
	font-size: var(--typography-size-subtitle);
	font-weight: bold;
	flex-basis: 100%;
	text-align: center;
}

.dialog-img {
	flex-basis: 100%;
    height: 100% !important;
    margin-bottom: 2rem;
}


/* BUTTON============= */
button.dialogConfirmNow {
    border-radius: var(--border-radius);
    font-weight: bold;
    padding: 1rem;
	margin-bottom: 1rem;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-contrast-dark);
	width: calc(50% - .5rem);
}

button.dialogClose {
	border-radius: var(--border-radius);
    font-weight: bold;
    padding: 1rem;
	margin-bottom: 1rem;
    background-color: var(--color-contrast-white);
    border: 1px solid var(--color-secondary);
    color: var(--color-contrast-dark);
	width: calc(50% - .5rem);
}

button.dialogClose + button.dialogConfirmNow {
	margin-left: 1rem;
}


#confirmCompletedImage {
    border-radius: var(--border-radius);
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-contrast-dark);
    width: calc(50% - .5rem);
    margin-top: 1rem;
  }



  /* .circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;

  }

  .favio_trackingDiv div {
    display: flex;
    gap:1.5rem;
  }

  input[type="checkbox"] {
    display: none;
  } */