/* =================== Switch =========== */

.availability-switch-position {
	position: fixed;
	top: 100px;
	right: 2rem;
	z-index: 2;

	display: flex;
	align-items: center;
	gap: 2rem;

	background-color: var(--color-contrast-white);
	padding: 1rem;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.739);

}

.availability-switch-position p {
	margin: 0;
}

.availabilitySwitch {
	position: relative;
	width: 60px;
	height: 34px;
}

.availabilitySwitch input[type=checkbox] {
	position: absolute;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter: alpha(opacity=0);
}

.availabilitySwitch label,
.availabilitySwitch label span {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition-duration: .2s;
}

.availabilitySwitch label {
	border-radius: 20px;
	background-color: #ddd;
}

.availabilitySwitch label:before,
.availabilitySwitch label:after {
	position: absolute;
	top: 0;
	width: 34px;
	line-height: 34px;
	color: #fff;
	text-align: center;
}

.availabilitySwitch label span {
	z-index: 1;
	width: 28px;
	height: 28px;
	margin: 3px;
	border-radius: 50%;
	background-color: #fff;
}

.availabilitySwitch label:before {
	left: 0;
	font-size: 11px;
	content: 'ON';
}

.availabilitySwitch label:after {
	right: 0;
	font-size: 10px;
	content: 'OFF';
}

.availabilitySwitch input:checked+label {
	background-color: var(--color-primary);
}

.availabilitySwitch input:checked+label span {
	transform: translateX(26px);
}


/* ============= Cards ============= */

.request-div {
	padding: 1rem;
	border: 1px solid black;
}

.change-request {
	padding: 0;
}

.change-request {
	display: flex;
	gap: 1rem;
}

.change-request li {
	text-decoration: none;
	list-style: none;
}

.active a {
	border-bottom: 4px solid var(--color-contrast-dark);
}



