.content-grid {
    display: flex;
    flex-flow: column;
}

.main-content {
    padding: 1rem;


    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

/* @media screen and (min-width: 600px) {
    .content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: calc(100vh - 72px);
    }

    .main-content {
        padding: 1rem;


        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
        overflow: scroll;
    }
} */